{% extends 'base.html.twig' %}

{% block title %}New Clean{% endblock %}

{% block body %}
<div class="container" style="padding: 20px;padding-bottom: 100px">
    <div class="card"  style="width: 100%;">
        <div class="card-header">
            <h1>Ajouter circuit </h1>
        </div>
        <div class="card-body">
    {{ include('clean/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
