{% extends 'base.html.twig' %}

{% block title %}Edit Claim{% endblock %}

{% block body %}
    <h1>Edit Claim</h1>

    {{ include('claim/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('claim_index') }}">back to list</a>

    {{ include('claim/_delete_form.html.twig') }}
{% endblock %}
