{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <div class="container" style="padding: 20px;padding-bottom: 100px">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                <h1>Edit Article</h1>
            </div>
            <div class="card-body">
                {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('article/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
